# Environment
.env
.env.*

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.egg-info/
dist/
build/

# Model artifacts
*.pkl

# UDF deployment artifacts
*.zip


# macOS
.DS_Store
.localized

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Claude Code
.claude*
